{% extends "blog/base.html" %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>Новый пароль</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сменить пароль">
        </form>

    {% else %}

        <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже
          использовалась. Пожалуйста, запросите новый сброс пароля</p>

    {% endif %}
{% endblock %}